<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>


  <p>
    Splurty was built by <a target="_blank" href="https://github.com/isaacceba">Isaac</a> A web developers who is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    In his dreams he has taught hundreds of students how to code and build products people want at places like Youtube, Online forums, His peers.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Isaac Ceballos</h2>
      <br />
      <p>
        Isaac Ceballos is a web developer and artist who loves to draw and play music. Isaac plans on coutinuing his web devolepor career, after completing the UC Berkley Coding bootcamp. Isaac will find a job in the tech world once he gets his certification. Now a little about Isaac, by the age of 19 has already travelled around 6% of the world. Isaac has went all over Europe, United States and to some parts in Mexico.
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">More About Isaac Ceballos</h2>
      <br />
      <p>
       Isaac is a very loving and ethusiatic person. Isaac frist heard of computer coding about a year ago when his uncle mention it. The idea was given into his head, from there he started to do reserach on what it really was. Soon Isaac recieved oppurtunity about a coding bootcamp thhrough UC Berkerly. Now Isaac Hopes the knowledge in the computer science field will take him somewhere great!
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />